<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buddybear">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/arrwon_back"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewsFeedFirstPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReciver" />
        <receiver android:name=".TodoAlarm" />
        <activity
            android:name=".GamePartFirstPage"
            android:label="@string/title_activity_game_part_first_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePartSecondPage"
            android:label="@string/title_activity_game_part_second_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamePartThirdPage"
            android:label="@string/title_activity_game_part_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TodoThirdPage"
            android:label="@string/title_activity_todo_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TodoFirstPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsFeedSecondPage"
            android:label="@string/title_activity_news_feed_second_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsFeedThirdPage"
            android:label="@string/title_activity_news_feed_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".setting_page"
            android:label="@string/title_activity_news_feed_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".page_setting_two"
            android:label="@string/title_activity_news_feed_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".page_setting_one"
            android:label="@string/title_activity_news_feed_third_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".page_setting_three"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_news_feed_third_page"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".programmist_activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_news_feed_third_page"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>
